* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

header {
  background-color: darkgreen;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 366px;
  margin-right: 366px;
  padding: 0, 15px;
  font-weight: bold;
}

.img-spotify {
  padding: 28px 17px;
  cursor: pointer;
}

.unordered-list-header {
  list-style: none;
  color: white;
  display: flex;
  align-items: center;
}

li {
  padding: 28px 17px;
}

.a-header:hover {
  color: #1ED760;
}

.a-header {
  color: #ffffff;
  text-decoration: none;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

main {
  background-color: black;
}

.container {
  background-color: black;
  width: 596px;
  margin: 0 auto;
}

 h1 {
  color:#A7A7A7;
  padding:0 0 16px;
  font-size: 1.125rem;
  padding-block-end: 16px;
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

 }
 h2 {
 color:#fff;
 padding: 0 0 40px;
 font-size: 72px;
 }
 
 .a-login {
  text-decoration-line: underline;
  color:white
 }

 .a-login:hover {
  color: white;
 }

 .div-for-faster-help {
  color: gray;
  font-size: 24px;
  margin:50px 0px ;
 }

/* ??Animated search box////////////////////////// */
#animated input[type=text] {
  width: 596px;
  box-sizing: border-box;
  border: 0px solid #A7A7A7;
  border-radius: 0px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
}

.fa-fa-search {
  position: relative;
}

.search-magnifiing-glass-img {
  position: absolute;
  margin: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  height: 300px;
  font-size: large;
  padding: 30px 0px 70px;
}

.card {
  overflow:hidden;
  border-radius: 4px;
  height: 92px;
  position: relative;
}

.card--pink {
  background-color: rgb(175, 40, 150);

}

.card--red {
  background-color: rgb(140, 25, 50);
}

.card--orange {
  background-color: rgb(176, 98, 57);
}

.card--green {
  background-color:rgb(0, 100, 80);
}

.card--gray {
  background-color: rgb(117, 117, 117);
}

.card--blue {
  background-color: rgb(83, 122, 161);
}

.card__img {
  transform: rotate(35deg);
  position: absolute;
  margin-right: -10px;
  bottom: 0px;
  right: -9px;
}

.card__title {
  color: white;
  float: left;
  margin: 10px 40px 0px 15px;
  width: 114px;
}
/* ////////////////////////////////////////////////////////////////////////////////////////// */
.container-two {
  background-color: #FFFFFF12;
  justify-content: center;
  display: flex;
}

.wrapper-one {
  width: 596px;
  margin: 0 auto;
}

h3 {
  color: #fff;
  font-size: 24px;
  padding:70px 0px 32px;
}

.container-two-list {
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

.ul-container-two {
  list-style-type:none;
  font-size: 18px;
  color: #fff;
}

.li-container {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  text-decoration: none;
}



.li-container:hover {
  text-decoration: underline;
  color: #fff;
}

a {
  color: white;
}