* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

header {
  background-color: darkgreen;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 366px;
  margin-right: 366px;
  padding: 0, 15px;
  font-weight: bold;
}

.img-spotify {
  padding: 28px 17px;
  cursor: pointer;
}

.unordered-list-header {
  list-style: none;
  color: white;
  display: flex;
  align-items: center;
}

li {
  padding: 28px 17px;
}

.a-header:hover {
  color: #1ED760;
}

.a-header {
  color: #ffffff;
  text-decoration: none;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

main {
  background-color: black;
}

.container {
  max-width: 596px;
  width: 100%;
  margin: 0 auto;
}
.container--centered {
  text-align: center;
}

h1 {
  color:#A7A7A7;
  padding:0 0 16px;
  font-size: 1.125rem;
  padding-block-end: 16px;
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px; 
}

h2 {
 color:#fff;
 padding: 0 0 40px;
 font-size: 72px;
 }
 
.a-login {
  text-decoration-line: underline;
  color:white
}

.a-login:hover {
  color: white;
}

.div-for-faster-help {
  color: gray;
  font-size: 24px;
  margin:50px 0px ;
}

/* ??Animated search box////////////////////////// */
#animated input[type=text] {
  width: 596px;
  box-sizing: border-box;
  border: 0px solid #A7A7A7;
  border-radius: 0px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
}

.fa-fa-search {
  position: relative;
}

.search-magnifiing-glass-img {
  position: absolute;
  margin: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  height: 300px;
  font-size: large;
  padding: 30px 0px 70px;
}

.card {
  overflow:hidden;
  border-radius: 4px;
  height: 92px;
  position: relative;
}

.card--pink {
  background-color: rgb(175, 40, 150);
}

.card--red {
  background-color: rgb(140, 25, 50);
}

.card--orange {
  background-color: rgb(176, 98, 57);
}

.card--green {
  background-color:rgb(0, 100, 80);
}

.card--gray {
  background-color: rgb(117, 117, 117);
}

.card--blue {
  background-color: rgb(83, 122, 161);
}

.card__img {
  transform: rotate(35deg);
  position: absolute;
  margin-right: -10px;
  bottom: 0px;
  right: -9px;
}

.card__title {
  color: white;
  float: left;
  margin: 10px 40px 0px 15px;
  width: 114px;
}
/* ////////////////////////////////////////////////////////////////////////////////////////// */
.quick-help__section {
  background-color: #2a2a2a;
  justify-content: center;
  display: flex;
}

.wrapper-one {
  width: 596px;
  margin: 0 auto;
}

h3 {
  color: #fff;
  font-size: 24px;
  padding:70px 0px 32px;
}

.container-two-list {
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

.ul-container-two {
  list-style-type:none;
  font-size: 18px;
  color: #fff;
}

.li-container {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  text-decoration: none;
}

.li-container:hover {
  text-decoration: underline;
  color: #fff;
}

a {
  color: white;
}
/*  ///////////////////////////////////////////////////////////////////////////////////////////// */
.community__section {
  background-color:#FFFFFF12;
  padding: 56px 0;
}

h5 {
  color:#fff;
 padding: 0 0 40px;
 font-size: 48px;
}

p {
  font-size: 16px;
  color: #fff;
}

.btn {
  text-transform: none;
  text-decoration: none;  
  padding: 15px 45px;
  display: inline-block;
  text-align: center;
  margin-bottom: 60px;
  border-radius: 100px;
  transition: all .1s;
  font-weight: 600;
}

.btn:hover {
  text-transform: bold;
  transform: scale(1.04);
} 

.btn:active {
  transform: scale(1);
  background-color: darkgreen;
}

.btn--green {
  background-color: #1ED760;
  color: black;
  margin: 25px;
}
/* //Footer///////////////////////////////////////////////////////////////////////////////////////////////// */

footer {
  background-color: black;
  box-sizing: border-box;
  padding: 60px 0;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.footer-img {
  justify-content: space-between;
}



/* .footer-col {
  margin: 0 15px;
} */

h4 {
  color: white;
  font-size: 18px;
  text-transform:capitalize;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #919496;
}

.social-links {
  display: flex;
  background-color: black;
  gap: 15px;
}

.social-links img {
  background-color: white;
  width: 25px;
  color: #1ed760;
}

.social-links li {
  /* padding: 15px; */
  border-radius: 50%;
  height: 25px;
  background-color: #222326;
}

.a:hover {
  background-color: #1ED760;
}

.companie-list {
  display: flex;
  flex-direction: column;
  padding: 0%;
  align-items: flex-start;
}

.companie-list li {
  padding: 3px 0 15px;
  width: 119px;
}

.a--footer {
  text-decoration: none;
}

.a--footer:hover {
  color: #1ED760;
}

.footer-wrap {
  display: flex;
  max-width: 1170px;
  width: 100%;
  gap: 50px;
}

.spacer {
  flex: 1 0;
}

.romania {
  font-size: 12px;
  margin: px -400px;
  display: flex;
  flex-direction: row;
  color: #919496;
  max-width: 1170px;
  width: 100%;
  justify-content: flex-end;
}

.romania a {
  color:#919496;
}

.romania a:hover {
  color: #1ed760;
}

.legal-informati {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  width: 100%;
  flex-direction: row;
  text-transform: uppercase;
  gap: 30px;
  font-size: 12px;
  letter-spacing: 0px;
  
  color: #919496;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.legal-informati a {
  color: #919496;
}

.legal-informati a:hover {
  color: #1ed760;
}

.space-word {
  display: flex;
  gap: 20px;
}

.btn--social {
  border-radius: 500px;
    padding: 10px;
    background-color: #121212;
}
